<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>Find the Force</title>
	<link rel='stylesheet' type='text/css' href='{{ url_for('static',filename='styles/main-page.css') }}'>
</head>
<body>
	<div class="container">
		<div class="header"><h1>Welcome to the Force Finder || Magneto Map</h1></div>
		<div class="middle" 2px solid black">
			<div class="inputs">
			inputs
			<!-- Bring in radio buttons -->
			</div>
			<div class="map">map</div>
		</div>
		<!-- also need footer -->
		<div class="footer">footer</div>
	</div>
</body>
</html>
