<!DOCTYPE html>
<html>
<head>
	<meta charset='UTF-8'>
	<title>Find the Force</title>
	<link rel='stylesheet' type='text/css' href='{{ url_for('static',filename='styles/main-page.css') }}'>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
	   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	   crossorigin=""/>
	<link rel='stylesheet' type='text/css' href='{{ url_for('static',filename='styles/leaflet-legend.css') }}'>

	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
	   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
	   crossorigin=""></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/plot-sites-map.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/plot-across-canada-map.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/onload-default-actions.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/leaflet-legend.js') }}"></script>

</head>
<body onload="clickSitesMapBtn();">
	<div class="container">
		<div class="header"><h1>Welcome to the Force Finder || Magneto Map</h1></div>
		<div class="middle" 2px solid black>
			<div class="inputs">
			
			<!--Form used to take input from the user -->
			<div class='container'>
    			<h3 style="display: block; margin: 0 auto;">Input</h3>
				<form action="{{ url_for('handle_input') }}" method="post">
				  <div class="form-group row">
				    <label for="day" class="col-sm-2 col-form-label">Day</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" name="day" id="day" placeholder="Day Number (DD)">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="hour" class="col-sm-2 col-form-label">Hour</label>
				    <div class="col-sm-10">
				      <input type="password" class="form-control" name="hour" id="hour" placeholder="Hour (HH)">
				    </div>
				  </div>
				  <fieldset style="margin-top: 10px; margin-bottom: 10px;">
				  	<legend>Choose Dataset: </legend>
					<input type="radio" id="fullDataset" name="dataset" value="full" checked> Full Dataset<br>
					<input type="radio" id="holedDataset" name="dataset"> Across Canada<br>
				  </fieldset>
				  <input type="Submit" name="submitBtn" class="btn btn-primary" style="display: block; margin: 0 auto;"></input>
				</form>


				<fieldset style="margin-top: 10px;">
					<legend>Choose map type: </legend>
					<input type="radio" id="sitesMapBtn" name="mapOptions" checked onclick="plotMap();"> Sites<br>
					<input type="radio" id="sitesMapBtn" name="mapOptions" onclick="plotMap();"> Across Canada<br>				
				</fieldset>



<!--				<div class="btn-group btn-group-toggle" data-toggle="buttons">
				  <label class="btn btn-secondary active">
				    <input type="radio" name="options" id="sitesMapBtn" autocomplete="off" onclick="plotMap();" checked> Sites
				  </label>
				  <label class="btn btn-secondary">
				    <input type="radio" name="options" id="acrossCanadaMapBtn" autocomplete="off" onclick="plotMap();"> Across Canada
				  </label>
				</div> -->


			</div>

			<!-- Bring in radio buttons -->
			</div>
			<script type="text/javascript">
						//var containerInstance = null;
						function plotMap(){
						    document.getElementById("mapContainer").innerHTML = "<div id='sitesDataMap' style='height:100%; width: 100%;'></div>";
							var jsonData = {{ data | tojson | safe }};
							if(document.getElementById('sitesMapBtn').checked) {
								plotSitesMap(jsonData);
							} else {
								plotAcrossCanadaMap(jsonData);
							}
						}
			</script>
			<div class="map" id="mapContainer">
				<div id="sitesDataMap">

				</div>
			</div>
		</div>
		<!-- also need footer -->
		<div class="footer">footer</div>
	</div>
</body>
</html>
